 .back-button {
      
      background-color: rgb(0, 0, 0);
      border: none;
      cursor: pointer;
      padding: 6px;
     
      border: 2px solid white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
    }

    .back-button svg {
      width: 24px;
      height: 24px;

      stroke: rgb(255, 241, 241);
      fill: none;
      stroke-width: 2;
    }
    .back-container{
         position: fixed;
      top: 20px;
      left: 20px;
      z-index: 10;
    }